.daily-sport-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  background: #f4f4f4;
  width: 100%;
  margin: 80px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.quote {
  border-radius: 20px;
  background: #242424;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  order: 1;
  grid-column: 1;
  grid-row: 1;
}

.quote-container {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.icon-runner {
  color: #f4f4f4;
  background-color: rgba(244, 244, 244, 0.2);
  padding: 8px;
  border-radius: 50%;
}

.icon-quotation {
  color: #f4f4f4;
  position: absolute;
  top: 0;
  right: 0;
}

.icon-weight {
  background-color: black;
  color: #f4f4f4;
  padding: 8px;
  border-radius: 50%;
}

.quote-title {
  color: #f4f4f4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.quote-text {
  margin-bottom: 16px;
  color: rgba(244, 244, 244, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 18px;
}

.quote-author {
  color: #f4f4f4;
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 18px;
}

.photo {
  order: 2;
  display: block;
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 20px;
  border-radius: 20px;
}

.quote-img-mobile {
  display: block;
  background-color: #ffffff;
  border-radius: 20px;
}

.quote-img-mobile > img {
  border-radius: 20px;
  background: #fff;
}

.daily-excercise {
  border-radius: 20px;
  background: #fff;
  width: 100%;
  height: 201px;
  padding: 20px;
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  order: 3;
  grid-column: 1; /* Первый столбец */
  grid-row: 3; /* Первая строка */
}

.excercise-title {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.excercise-sub {
  color: rgba(36, 36, 36, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 16px;
}

.excercise-text {
  color: #242424;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  height: 105px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.quote-img-tab,
.quote-img-desk {
  display: none;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .daily-sport-section {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 16px;
  }

  .quote {
    grid-column: 1;
    grid-row: 1;
    padding: 40px;
  }

  .photo {
    grid-column: 2;
    grid-row: 1;
    width: 288px;
  }

  .daily-excercise {
    grid-column: 1;
    grid-row: 2;
  }

  .quote-title,
  .excercise-title {
    font-size: 24px;
    line-height: 32px;
  }

  .quote-author {
    font-size: 16px;
    line-height: 24px;
  }

  .quote-img-mobile,
  .quote-img-desk,
  .favorite {
    display: none;
  }

  .quote-img-tab {
    display: block;
    background-color: #ffffff;
  }

  .quote-img-tab > img {
    border-radius: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .daily-sport-section {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 32px;
  }

  .quote {
    grid-column: 1;
    grid-row: 1;
    padding: 40px;
    width: 444px;
  }

  .photo {
    grid-column: 1;
    grid-row: 2;
    width: 444px;
  }

  .daily-excercise {
    grid-column: 1;
    grid-row: 3;
    width: 444px;
    height: 315px;
  }

  .quote-img-desk {
    display: block;
  }

  .quote-img-desk img {
    border-radius: 20px;
  }

  .quote-img-mobile,
  .quote-img-tab {
    display: none;
  }

  .excercise-text {
    -webkit-line-clamp: 10;
    height: 200px;
  }
}
