.footer {
  background-color: #242424;
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer .social-icon {
  fill: #F4F4F4
}

.footer-logo {
  fill: #F4F4F4;
  margin-bottom: 20px;
}

.footer-left {
  margin-bottom: 40px;
}

.footer-title {
  color: #F4F4F4;
  font-size: 38px;
  font-style: normal;
  line-height: 44px;
  letter-spacing: -0.76px;
}
